.App {

}

.App-header {
  background-color: #282c34;
  text-align: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.App-link {
  color: #09d3ac;
}

.App-title-link {
  color: #fff;
}
